{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/transform-classes", { "loose": true }],
    ["@babel/transform-modules-commonjs", { "loose": true }],
    "@babel/transform-property-literals",
    "@babel/transform-member-expression-literals"
  ]
}
