@import 'prefixer';

@axis-color: #000;
@chart-padding: 10px;
@legend-rect-width: 12px;
@hidden-padding: 1px;

.ne-chart {
  position: relative;
  &, * {
    .border-box();
    line-height: 1;
  }
  .ne-chart-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .ne-chart-axis-area {
    z-index: 200;
    position: absolute;

    .ne-chart-title-area {
      position: absolute;
    }

    .ne-chart-tick-area, .ne-chart-label-area {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .ne-chart-tick-area {
      .ne-chart-tick {
        position: absolute;
        background-color: @axis-color;
      }
    }

    .ne-chart-label-area {
      .ne-chart-label {
        position: absolute;
      }
    }

    &.vertical {
      top: @chart-padding;

      .ne-chart-title-area {
        .transform-origin(top left);
        .rotate(-90deg);
        text-align: center;
        white-space: nowrap;
        top: 0;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }

      .ne-chart-tick-area, .ne-chart-label-area {
        right: 0;
      }

      .ne-chart-tick-area {
        border-right: 1px solid @axis-color;
        .ne-chart-tick {
          right: 0;
          width: 5px;
          height: 1px;
          height: 1px;
        }
      }

      .ne-chart-label-area {
        .ne-chart-label {
          width: 100%;
          text-align: right;
          padding-right: 10px;
        }
      }

      &.right {
        .ne-chart-title-area {
          .transform-origin(top left);
          .rotate(90deg);
          text-align: center;
          white-space: nowrap;
          top: 0;
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }

        .ne-chart-tick-area, .ne-chart-label-area {
          left: 0;
        }

        .ne-chart-tick-area {
          border-right: none;
          border-left: 1px solid @axis-color;
          .ne-chart-tick {
            left: 0;
          }
        }

        .ne-chart-label-area {
          .ne-chart-label {
            text-align: left;
            padding-right: 0;
            padding-left: 10px;
          }
        }
      }
    }

    &.horizontal {
      right: @chart-padding;

      .ne-chart-title-area {
        bottom: 0;
        width: 100%;
        text-align: center;
      }
      .ne-chart-tick-area, .ne-chart-label-area {
        left: 0;
      }

      .ne-chart-tick-area {
        border-top: 1px solid @axis-color;
        .ne-chart-tick {
          top: 0px;
          width: 1px;
          height: 5px;
        }
      }

      .ne-chart-label-area {
        .ne-chart-label {
          top: 10px;
          text-align: center;
        }
      }
    }
  }

  .ne-chart-plot-area {
    position: absolute;
    right: @chart-padding;
    top: @chart-padding;
    z-index: 100;
    .ne-chart-plot-line {
      background-color: #ccc;
      position: absolute;
      &.vertical {
        top: 0px;
        width: 1px;
      }

      &.horizontal {
        left: 0px;
        height: 1px;
      }
    }
  }

  .ne-chart-series-area {
    z-index: 400;
    position: absolute;
    &:first-child {
      overflow: visible;
    }
    .ne-chart-series-label-area {
      position: absolute;
      left: 0px;
      top: 0px;
      display: none;
      .opacity(0);
      .ne-chart-series-label {
        position: absolute;
        cursor: default;
        text-align:center;
        .text-shadow(#fff 0px 0px 3px);
      }
      &.show {
        display: block;
      }
    }
  }

  .ne-chart-legend-area {
    z-index: 300;
    position: absolute;
    padding: 10px;
    .ne-chart-legend {
      clear: both;
      > div {
        float: left;
      }

      .ne-chart-legend-rect {
        margin-top:2px;
        width: @legend-rect-width;
        height: @legend-rect-width;
        &.line {
          height: 2px;
        }
        &.area {
          .opacity(0.5);
        }
      }
      .ne-chart-legend-label {
        padding: 2px 0 2px 5px;
        line-height:1;
      }
    }
  }

  .ne-chart-tooltip-area {
    position: absolute;
    z-index: 500;
    .ne-chart-tooltip {
      position: absolute;
      display: none;
      &.show {
        display: block;
      }
      .ne-chart-default-tooltip {
        padding: 2px 0;
        font-size: 12px;
        min-width: 100px;
        color: #fff;
        .border-radius(5px);
        background-color: #555;
        background-color:rgba(0, 0, 0, 0.5);
        > * {
          padding: 2px 5px;
          text-align: center;
        }
        > :first-child {
          backgound-color: #fff;
          font-weight: bold;
        }
      }
    }
  }
}

.ne-chart-size-check-element {
  clear:both;
  position:absolute;
  top:100000px;
  left:100000px;
  width:1000px;
  height:100px;
  line-height:1;
  z-index: 10000000;
}

:root .ne-chart .ne-chart-axis-area.vertical .ne-chart-title-area {
  filter: none\0;
}
