/* export menu */

button:focus {
  outline: none;
}

.export-menu {
  font-family: Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #bab9ba;
  user-select: none;
  box-sizing: border-box;
}

.export-menu-title {
  height: 34px;
  width: 140px;
  background: #f4f4f4;
  margin: 0;
  font-size: 11px;
  padding: 10px;
  box-sizing: inherit;
}

.export-menu-btn-wrapper {
  width: 100%;
  height: 76px;
}

.export-menu-btn {
  width: 50%;
  height: 50%;
  border: none;
  padding: 12px 3px;
  font-size: 11px;
  float: left;
  background: #fff;
  cursor: pointer;
}

.export-menu-btn:hover {
  font-weight: bold;
}


/* tooltip */

.tooltip-container {
  position: absolute;
  transition: top 0.2s, left 0.2s;
  user-select: none;
  pointer-events: none;
}

.tooltip {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 150px;
}

.tooltip-category {
  padding: 8px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tooltip-series-wrapper {
  display: flex;
  padding: 13px 15px;
  flex-direction: column;
}

.tooltip-series {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.series-name {
  display: flex;
  align-items: center;
}

.series-name .icon {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.series-name .name {
  white-space: nowrap;
}

.series-value {
  white-space: nowrap;
  margin-left: 10px;
}
