body {
    min-width:1200px;
    font-family: Helvetica Neue, Helvetica, Arial, Malgun gothic, '돋움', AppleSDGothicNeo;
}

ul, ol, li {list-style:none; padding-left:0; margin-left:0;}

#left { 
    width:250px;
    position:absolute; 
    bottom:25px;
    top:0;
    overflow:auto;
    left:0; 
    background-color: #161b1d;
}

#left #menu {
    margin:0 20px;
}

#left #menu h3 {
    font-size:1.5em; 
    color:#dc9656;
}


#left #menu li {
    border-bottom: 1px solid #1f292e;
}
#left #menu li ul {
    display:none;
}
#left #menu li .title {    
    margin-top:5px;
    margin-left:5px;
    display:none; 
}
#left #menu li.selected ul {
    display:block;
}
#left #menu li.selected .title {
    display:block;
}
#left #menu li .title strong {
    color:#568c3b;
}

#left #menu li li {
    border-bottom:0 !important; 
}

#left #menu li a {
    color:#7cafc2;
}

#left #menu li.selected a {font-weight:bold; text-decoration:underline; font-size:1.2em; color:#ebf8ff; }
#left #menu li.selected li a {font-weight:normal; text-decoration:none;}
#left #menu li strong {
    font-weight:normal;
    font-size:10px;
    color:#398df0; 
    cursor: text;
}

#left #menu li.listitem {
    padding-top:5px;
    padding-bottom:5px;
}

#left #menu li li {
    margin-left:15px;
}
#left #menu li li a {
    color:#ebf8ff;
    font-size:12px !important;
}

#left ul.tutorials {
    font-weight:normal;
}
#left ul.tutorials li {padding:4px 0;}
#left ul.tutorials li a {font-weight: normal !important;}

#left ul li .directory { opacity: 0.8; }

.home {
    text-align:center;
    padding:15px 0;
}
.home a {
    font-size:18px;
    color:#ebf8ff;
}

#search {
    padding:0px 0 5px;
    width:100%;
    text-align:center;
}

#search .searchbox {
    padding:7px; 
    outline:none; 
    font-size:12px;
    width:220px;
    color:#aaa;
    border: 1px solid #585858;
    background-color: #373737;
    border-radius:2px;
}

#search .searchList {
    position: absolute;
    width: 220px;
    background-color: #516d7b;
    left: 15px;
    border: 1px solid #1f292e;
    border-radius: 0 0 2px 2px;
    opacity:0.9; filter:alpha(opacity=90);
}

#search .searchList li {
    font-size:12px;
    color:#ebf8ff;
    text-align:left;
    width:100%;
    padding: 2px 0;
    white-space: nowrap; 
    overflow: hidden; 
    cursor:pointer
}

#search .searchList li.on, #search .searchList li:hover {
    background-color:#ebf8ff;
}
#search .searchList li.on a, #search .searchList li:hover a {
    color:#1f292e;
}
#search .searchList li.on string, 
#search .searchList li:hover strong {
    color:#d22d72;
}
#search .searchList li.on .group, 
#search .searchList li:hover .group {
    color:#1f292e;
}

#search .searchList li a { 
    color:#fff;
}

#search .searchList li .group {
    font-size: 9px;
    color:#f4f7f8;
    opacity:0.8;
}
#search .searchList li span {
    margin-left:10px;
}
#search .searchList li strong {
    color:pink;
    font-weight:bold;
}

#content {
    position:absolute;
    left:250px;
    right:0;
    top:0;
    bottom:26px; 
    padding-top: 60px;
    overflow: auto;
    background-color:#fff;
}

#contentBody {
    margin:0 15px;
}

#contentBody .container-overview {
    border-radius:2px;
}

#contentBody .method code {
    text-decoration: underline;
    cursor:pointer;
}

#contentBody .members code {
    text-decoration: underline;
    cursor: pointer;
}

#contentBody pre.prettyprint {
    border-radius:0;
}

#contentBody pre code {
    text-decoration:none;
}

#contentTab {
    top:0;
    position: absolute;
    background-color:transparent;
    left:0;
    right:0;
    height:50px;
}

#contentTab li {
    cursor:pointer;
    border-right:1px solid #ebf8ff;
    float:left;
    padding: 15px;
    text-align:center;
    width:50%;
    background-color:#516d7b;
    color:#ebf8ff;
    font-weight:bold;
    font-size:16px;
}

#contentTab li.on {
    text-decoration:underline;
    border-bottom:2px solid #7ea2b4;
    color:#fff;
}

#contentCode {
    margin:0 10px;
}

#contentCode pre.source {
    border-radius:0;
    background-color:#f5f5f5;
}

footer {
    position:fixed;
    bottom:0px;
    left:0;
    right:0;
    background-color:#516d7b;
    color:#ebf8ff;
    text-align:center;
    height:26px;
    line-height:2.0em;
    border-top:1px solid #516d7d;
    display:block;
}

.main section header {
    padding-top: 0px;
    border-bottom: 1px solid #999;
}

.main > h3 { display:none; }

.main section header a {
    color:#999;
    text-decoration: none;
    cursor: text;
}

.main section header a:hover {
    text-decoration: none;
}

.main section header h2 {
    font-size:18px;
    font-weight:bold;
    padding-left : 5px;
    border-left: 5px solid #dc9656;
}

.main section article {
    padding: 10px;
}

#contentCode .main section article {
    padding:0;
}

.main .main-content article {
    padding:0;
}

.container-overview, .main-datail {
    overflow: hidden;
}

.main-detail .tag-source {
    float:left;
    display:none; 
}

.main-detail .tag-author {
    float:left;
}
.main-detail .tag-author a {
    color:#181818;
    font-size:11px;
    text-decoration:none;
}

.main section article .readme {
    background-color: #f9f9f9;
    border: 1px solid #428bca;
    border-radius: 2px;
    font-size:11px;
    margin-top:10px;
}

.main section article .readme h1 {
    font-size:24px;
    font-weight:normal;
    margin: 5px 20px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #428bca;
}

.main section article .readme p {
    padding: 5px 30px;
    color: #0082c6;
}

.main section article .readme p a {
    color:#c7254e;
}

.main section article .readme h2 {
    margin: 5px 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #dedede;
    font-size: 15px;
}

.main section article .readme ul {
    padding: 5px 30px 20px;
}

.main section article .readme table {
    margin: 5px 30px 20px;
}

.main section article .readme table th,
.main section article .readme table td {
    padding: 2px 20px 2px 5px;
    border-bottom: 1px solid #dedede;
}

.main section article .container-overview {
    padding: 15px 15px 0 15px;
    border: 1px solid #dedede;
    border-radius: 7px;
}

.main section article li {
    list-style: none;
}

.main section article h3.subsection-title {
    font-size:16px;
    color: #dc9656;
    padding:35px 0 0 5px;
    border-bottom: 1px solid #dedede;
}

.main section article dl h4 {
    font-size: 12px;
    font-weight: bold;
}

.main section article dl h4 .signature {
    font-size: 9pt;
}

.main section article dl h4 .type-signature {
    font-size: 9pt;
    color: #31708f;
    font-weight: normal;
}

.main section article dl dt .name {
    padding: 3px 10px;
    background-color: #f4f7f8;
}

.main section article dl dd {
    padding: 0 30px;
}

.main section article dl dd h5{
    font-weight: bold;
}

.main section article .container-source {
    margin: -15px -15px 3px 0;
    font-weight: normal;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

.main section article .container-params,
.main section article .container-returns,
.main section article .container-inherits {
    padding: 7px 0;
}

.main section article .container-properties div.properties,
.main section article .container-params div.params,
.main section article .container-returns div.returns,
.main section article .container-inherits div.inherits {
    padding-left: 6px;
    border-left: 3px solid #f4f7f8;
}

.main section article .container-properties div.properties {
    margin-top: -3px;
}

.main section article .container-returns div.details,
.main section article .container-inherits div.details {
    margin-top: -6px;
}

.main section article .container-properties h5,
.main section article .container-returns h5,
.main section article .container-inherits h5,
.main section article table th,
.main section article table td.type,
.main section article table td.attributes {
    font-family: Verdana, sans-serif;
    font-size: 90%;
}

.main section article table,
.main section article table th,
.main section article table td {
    font-family: Verdana, sans-serif;
    vertical-align: top;
    border: 0;
    padding: 1px 3px;
}

.main section article table td.name,
.main section article table td.type,
.main section article table td.attributes,
.main section article table td.default {
    width: 100px;
    word-break: break-all;
}

.main section article table td.type,
.main section article table td.attributes {
    color: #aaa;
}

.main section article table td p {
    padding: 0;
    margin: 0;
}

.main section article table td h6 {
    padding: 10px 0 0 3px;
    margin: 0;
}

span.icon {
    font-size: 8pt;
    border-radius: 3px;
    padding: 1px 2px;
}
span.icon.green {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
span.icon.blue {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
span.icon.yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
span.icon.red {
    color: #A94443;
    background-color: #f2dede;
    border-color: #ebccd1;
}

span.arrow {
    font-size: 8pt;
    padding-right: 5px;
}
